* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(img/fondo1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
}

body a {
  color: rgb(255, 255, 255);
}


/* NAVBAR */
.logo {
  width: 130px;
  cursor: pointer;
}

.menu{
  display: flex;
  justify-content: end;
}

.navbar-menu{
  margin: 30px auto;
}

.navbar-menu a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.2rem;
  transition: 0.4s ease-out;
}


.navbar-menu a:hover {
  color: #a81cf9;
}
/* NAVBAR */

/* FOOTER */ 

footer{
  background-color: rgba(1, 1, 1, 0.8);
  font-size: 0.8rem;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 3.5px;
}

.footer__txt, .footer__redes{
  margin: 35px 0;
}

.redes a img {
  width: 30px;
  height: 30px;
  margin: 0 20px;
}

.footer__txt a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* FOOTER */

/* BOTON VOLVER A ARRIBA*/

.btn_arriba a img {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 50px;
  right: 15px;
  background-color: rgba(1, 1, 1, 0.80);
  border-radius: 50%;
  padding: 4px;
}

/* BOTON VOLVER A ARRIBA*/


/* HOME*/

/* PROMOCIONES */

.promociones{
  width: 65%;
  display: flex;
  margin: auto;
}

.home_promos_contenedor_img {
  background-color: rgb(255, 255, 255);
  padding: 15px 15px 40px 15px;
  margin: 0 auto;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.4);
}

/* PROMOCIONES */


/* INFO */

.home_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 35px 0;
}

.home_info h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
  letter-spacing: 2px;
}

.home_info p {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

/* INFO */


/* CATEGORIAS */

.home_categorias {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
 
.home_categorias {
  width: 80%;
  display: flex;
}

.home_categorias_cat {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  display: inline-block;
  margin: 0 1rem;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.5s;
}

.home_categorias_cat_img {
  filter: brightness(30%);
  height: 450px;
}
.home_categorias_cat:hover{
  transform: scale(1.05);
}

.home_categorias_cat:hover>.home_categorias_cat_img{
  filter: none;
}

.home_categorias_cat_nombre {
  font-size: 1.5rem;
  font-family: 'Indie Flower', cursive;
  color: rgb(0, 0, 0);
  padding: 5px;
  display: flex;
  justify-content: center;
}

/* CATEGORIAS */


/* PREGUNTAS FRECUENTES */
.preguntas{
  margin: 35px auto;
}

.preguntas-frecuentes {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  padding: 5px 25px;
  background-color: rgba(1, 1, 1, 0.80);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.4);
  cursor: pointer;
  margin: 2px 0;
  width: 100%;
  align-items: center;
}

.preguntas-respuestas {
  font-size: 1.2rem;
  font-family: 'Indie Flower', cursive;
  padding: 5px 15px;
  background-color: rgba(1, 1, 1, 0.60);
  margin-bottom: 2px;
  width: 100%;
}


/*.home_preguntas_dudas{
  font-size: 1.5rem;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 2px;
  align-items: center;
  margin: 15px 0;
}

.home_preguntas_dudas a {
  text-decoration: none;
  font-weight: 700;
}*/

/* PREGUNTAS FRECUENTES */

/* HOME */






/* CLIENTES */

/* TITULO */
.clientes_titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 35px 0;
}

.clientes_titulo h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}

.clientes_titulo p {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
}

/* TITULO */

.clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 35px;
}

.clientes_caja {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.3);
  background-color: rgba(1, 1, 1, 0.60);
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.clientes_perfil_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

.clientes_perfil_img img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

.clientes_perfil {
  display: flex;
  align-items: center;
}

.clientes_perfil_nombre {
  display: flex;
  flex-direction: column;
}

.clientes_perfil_nombre h2 {
  font-size: 1.3rem;
  font-family: roboto, "sans serif";
  margin: auto 0;
}

.clientes_perfil_nombre p {
  font-size: 1rem;
  color: rgb(90, 90, 90);
  font-family: roboto, "sans serif";
  margin: auto 0;
}

.clientes_estrellas{
  color: #a81cf9 !important;
}

.clientes_caja_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.clientes_opinion p {
  font-size: 1.1rem;
  font-family: roboto, "sans serif";
}

/* CLIENTES */








/* CONTACTO */

/* TITULO */

.contacto_titulo {
  margin: 35px auto;
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
}

/* TITULO */

/* FORMULARIO */

.formulario{
  background-color: rgba(1, 1, 1, 0.6);
  border: none;
  border-radius: 5px;
}

.efecto_1{
  border: 0;
  outline: none;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 2px;
}

textarea{
  resize: none;
  height: 30vh;
}

.btn_1{
  background: #a81cf9;
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-size: 1.3rem;
  font-family: 'Indie Flower', cursive;
  font-weight: 900;
  letter-spacing: 2px;
} 

/* FORMULARIO */

/* MENSAJE AL CLIENTE */

.contacto_respuesta {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  margin: 20px auto;
}

/* MENSAJE AL CLIENTE */

/* CONTACTO */






/* GALERIA */

/* TITULO */

.galeria_titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.galeria_titulo h1 {
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 3.5px;
}

.galeria_titulo p {
  font-size: 1.5rem;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 3.5px;
}

/* TITULO */

.galeria {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 450px;
	padding: 30px;
	gap: 30px;
}

.galeria__img {
	width:100%;
	height: 100%;
	object-fit: cover;
}

.galeria__item {
  background-color: rgb(255, 255, 255);
  padding: 15px 15px 40px 15px;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.4);
}

.galeria__item:nth-child(4) {
	grid-column-start: span 2;
}

.galeria__item:nth-child(5) {
	grid-row-start: span 2;
}

.galeria__item:nth-child(9) {
	grid-column-start: span 2;
}

@media (min-widht:768px) {
	.galeria {
		grid-template-columns:(4, 1fr);
	}

	.galeria__item:nth-child(3) {
		grid-column-start: span 2;
	}

	.galeria__item:nth-child(4) {
		grid-column-start: span 3;
	}

	.galeria__item:nth-child(5) {
		grid-row-start: span 3;
	}

	.galeria__item:nth-child(9) {
		grid-column-start: span 3 ;
	}
}


@media (min-widht:1024px) {
	.galeria {
		grid-template-columns:(5, 1fr);
		width:80%;
		margin: auto;
	}

	.galeria__item:nth-child(1) {
		grid-column-start: span 2;
		grid-row-start: span 2;
	}

	.galeria__item:nth-child(4) {
		grid-column-start: span 3;
	}

	.galeria__item:nth-child(5) {
		grid-row-start: span 3;
	}

	.galeria__item:nth-child(9) {
		grid-column-start: span 3 ;
	}
}

/* GALERIA */








/* NOSOTROS */

.nosotros_titulo {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
  margin: 35px 0;

}

.nosotros_polaroid {
  background-color: rgb(255, 255, 255);
  padding: 15px 15px 40px 15px;
  margin: 35px;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.4);
}

.nosotros_polaroid img{
  width: 100%;
}
.nosotros_texto {
  box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.3);
  background-color: rgba(1, 1, 1, 0.60);
  margin: 35px;
}

.nosotros_texto p {
  font-size: 1.3rem;
  font-family: 'Indie Flower', cursive;
  padding: 15px;
}

/* NOSOTROS */



/* MEDIA QUERIES */



/* MOBILE */


