 /* HOME*/
 /* INFO */

 .promociones {
     @media screen and (max-width:450px) {
         display: none;
     }

     .carousel {
         .carousel-inner {
             .carousel-item {
                 .home_promos_contenedor_img {
                     width: 100%;
                 }
             }
         }
     }
 }


 .promociones-mobile {
     display: none;

     @media screen and (max-width:450px) {
         display: flex;
     }
 }



 .home_info {
     margin: 35px 0;

     h2 {
         font-size: 3rem;
         font-weight: 900;
     }

     p {
         font-size: 1.5rem;
     }
 }

 /* INFO */


 /* CATEGORIAS */

 .categorias {
     .categorias__carousel {
         display: flex;
         margin: 35px auto;
         padding: 15px 15px 15px 15px;
     }

 }

 /* CATEGORIAS */


 /* PREGUNTAS */

 .preguntas {
     margin: 35px auto;

     .accordion-item {
         @extend %accordion;

         .accordion-button {
             @extend %accordion;
             letter-spacing: 2px;
         }

         .accordion-button:not(.collapsed) {
             @extend %accordion;
         }
     }
 }


 /* PREGUNTAS */

 /* MENSAJE */

 .home_mensaje {
     .home_mensaje_row {
         .home_texto {
             p {
                 font-size: 1.5rem;
                 margin: 15px 0;

                 a {
                     text-decoration: none !important;
                     font-weight: 700;
                 }
             }
         }
     }
 }

 /* MENSAJE */

 /* HOME */