/* NAVBAR */

.navbar-menu {
    margin: 30px auto;

    div {
        .logo {
            width: 130px;
            cursor: pointer;
        }
        .menu {
            justify-content: end;

            ul {
                li {
                    a {
                        color: rgb(255, 255, 255);
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 1.2rem;
                        transition: 0.4s ease-out;

                        &:hover {
                            color: #a81cf9;
                        }
                    }
                }
            }
        }
    }
}

/* NAVBAR */