 /* NOSOTROS */
 @import '../base/mixin';

 .nosotros {
   .nosotros_portada {
     @media screen and (max-width:450px) {
       display: none;
     }
   }

   .nosotros_titulo {
     @include font(3rem, 900);
     margin: 35px 0;
   }

   .polaroid {
     margin: 35px;

     img {
       width: 100%;
     }
   }

   .nosotros_texto {
     box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.3);
     background-color: rgba(1, 1, 1, 0.60);
     margin: 35px;

     p {
       @include font(1.3rem, 500);
       padding: 15px;
       text-align: center;
     }
   }
 }


 /* NOSOTROS */