%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%accordion {
    margin: 5px 0;
    background-color: rgba(1, 1, 1, 0.6);
    border: none;
    color: rgb(255, 255, 255);
}